<div class="h-[3rem] flex flex-row items-center gap-4 text-zinc-300 bg-zinc-800 pr-4 [&>*]:py-3">
  <img src="/img/dnkHappy.png" class="w-10 h-10 ml-3 mr-2 !py-0 self-end">
  <h2 class="text-lg mr-6">Moist Polls</h2>
  {% if admin %}
    <a
      tabindex="9"
      class="hover:text-zinc-100"
      href="/create">Create</a>
  {% endif %}
  <div class="ml-auto flex flex-row gap-4 items-center">
    {% if poll %}
      <div x-data="{
        copied: false,
        timeout: null,
        copy() {
          const url = new URL('/poll/{{ poll.poll_id }}', window.location.origin);
          $clipboard(url.toString());

          this.copied = true;

          clearTimeout(this.timeout);
          this.timeout = setTimeout(() => {
            this.copied = false;
          }, 3000);
        }
      }">
        <button
          class="px-3 py-1 min-w-28 rounded-lg text-zinc-100 focus:outline-none bg-orange-500 hover:bg-orange-400 focus:bg-orange-400"
          :class="copied ? 'bg-zinc-600 hover:bg-zinc-600 focus:bg-zinc-600' : ''"
          x-on:click="copy"
          x-text="copied ? `Copied!` : `Copy link`">Copy link</button>
      </div>

    {% endif %}
    {% if user %}
      <span>{{ user.login | escape }}</span>
      <span>|</span>
      <a
        tabindex="10"
        class="hover:text-zinc-100"
        href="/auth/logout">Log out</a>
    {% else %}
      <a
        tabindex="10"
        class="hover:text-zinc-100"
        href="/auth/login">
        <span class="inline-block w-4 h-4 relative top-[2px] [&_.st0]:fill-white [&_.st1]:fill-twitch-purple">
<!-- esthetic-ignore-next-->
         <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2400 2800" style="enable-background:new 0 0 2400 2800;" xml:space="preserve"><g><polygon class="st0" points="2200,1300 1800,1700 1400,1700 1050,2050 1050,1700 600,1700 600,200 2200,200 	" /><g><g id="Layer_1-2"><path class="st1" d="M500,0L0,500v1800h600v500l500-500h400l900-900V0H500z M2200,1300l-400,400h-400l-350,350v-350H600V200h1600 V1300z" /><rect x="1700" y="550" class="st1" width="200" height="600" /><rect x="1150" y="550" class="st1" width="200" height="600" /></g></g></g></svg>
        </span>
        <span>Log in</span>
      </a>
    {% endif %}
  </div>
</div>