{% layout "default" %}

{% block content %}
  <div class="flex flex-col min-w-30">
    {% render "poll-title", title: vote.title, remaining: null %}
    <ul
      id="ranked-votes"
      x-sort
      x-sort:group="ranks"
      class="list-none px-0 w-full min-h-20 bg-orange-800">
      {% for result in vote.results %}
        <li class="px-2 w-full [&:first-child]:pb-4 [&:first-child]:font-bold [&:first-child]:text-xl [&:first-child]:border-b-2 border-zinc-300">
          <div class="flex flex-row flex-nowrap items-center gap-2">
            <span>{{ result.name | escape }}</span>
            <span class="ml-auto text-sm font-regular">(avg rank: {{ result.average_rank | round: 2 }})</span>
          </div>
        </li>
      {% endfor %}
    </ol>
  </div>
{% endblock %}